extends _base

block main
  h1.Invisible= `${SITE_NAME} ホーム`

  .Stack.-xlarge
    section#tags.Stack.-large(aria-labelledby="tags-heading")
      h2#tags-heading.Heading
        span.WithIcon.-tag.-hang.-tighter タグ

      ul.Stack.-small.Tags
        each tag in tags
          li(id=`tags:${tag.slug}-heading`)
            a(href=`/tags/${tag.slug}/`)= tag.title

      p
        a.WithIcon.-reference.-hang(href="/references/") すべての参考資料

    section#years.Stack
      .Cluster.-justify-start.WithIcon.-year.-hang
        ul
          each year, index in years
            li
              a(href=`/years/${year}/`)= year
              if index !== years.length - 1
                | ,

    section#contribution.Stack(aria-labelledby="contribution-heading")
      h2#contribution-heading.Heading ウェブサイトに貢献

      p
        | このウェブサイトではあなたからの情報提供をお待ちしています。参考資料の追加・修正のリクエストは
        a(href="https://github.com/a11yj/accrefs/issues") リポジトリのイシュー
        | から専用のテンプレートで行えます。
