.Footer {
  @at-root {
    & {
      margin-top: var(--space-lg);
    }

    .Footer__inner {
      padding-left: var(--space-sm);
      padding-right: var(--space-sm);
      text-align: center;
    }

    .Footer__credit {
      margin: auto;
      max-width: 128rem;
    }
  }
}