@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap");
:root {
  font-size: 10px;
  --fz-title: 10rem;
  --fz-heading: 2.4rem;
  --fz-subheading: 2rem;
  --fz-general: 1.6rem;
  --space-lg: 10rem;
  --space-md: 5rem;
  --space-sm: 3rem;
  --space-xs: 1rem;
}

html {
}

body {
  margin: 0;
  padding: 0;
  color: #333333;
  font-size: var(--fz-general);
  font-family: 'Noto Sans JP', sans-serif;
}

.Header__inner {
  margin: auto;
  padding-left: var(--space-sm);
  padding-right: var(--space-sm);
  max-width: 128rem;
}

.Header__hgroup {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  text-align: center;
}

.Header__heading {
  margin: 0;
  font-size: var(--fz-title);
  font-family: serif;
  line-height: 1;
}

.Header__subheading {
  margin-top: var(--space-sm);
  margin-bottom: 0;
  font-size: var(--fz-subheading);
}

.Main {
  margin-top: var(--space-lg);
}

.Main__inner {
  margin: auto;
  padding-left: var(--space-sm);
  padding-right: var(--space-sm);
  max-width: 128rem;
}

.Main__heading {
  margin-top: var(--space-lg);
  margin-bottom: 0;
  font-size: var(--fz-heading);
}

.Main__desc {}

.Card {
  display: flex;
  flex-wrap: wrap;
  margin-right: -1rem;
  margin-left: -1rem;
}

.Card__item {
  position: relative;
  box-sizing: border-box;
  margin-top: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
  padding: 1rem;
  border: 0.3rem solid #cfcfcf;
  border-radius: 0.4rem;
  max-width: calc(100% / 4 - 1rem);
}

.Card__heading {
  margin-top: 0;
  margin-bottom: 0;
  font-size: var(--fz-subheading);
}

.Card__link::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Card__desc {}

.Article {}

.Article__item {
  box-sizing: border-box;
  margin-top: 1rem;
  padding: 1rem;
  border: 0.3rem solid #cfcfcf;
  border-radius: 0.4rem;
}

.Article__heading {
  margin-top: 0;
  margin-bottom: 0;
  font-size: var(--fz-subheading);
}

.Article__link {}

.Article__body p {}

.Article__body ul {}

.ContributeList {}

.ContributeList__item {}

.ContributeList__link {}

.Footer {
  margin-top: var(--space-lg);
}

.Footer__inner {
  padding-left: var(--space-sm);
  padding-right: var(--space-sm);
  text-align: center;
}

.Footer__credit {
  margin: auto;
  max-width: 128rem;
}
