.Article {
  @at-root {
    & {
      margin-top: var(--space-md);
    }

    .Article__item {
      box-sizing: border-box;
      border: 0.3rem solid #cfcfcf;
      margin-top: var(--space-sm);
      padding: 1.5rem;
      border-radius: 0.2rem;
    }
    
    .Article__heading {
      margin-top: 0;
      margin-bottom: 0;
      font-size: var(--fz-subheading);
    }
    
    .Article__back {
      margin-top: var(--space-md);
    }
    
    .Article__body {
      margin-top: var(--space-sm);
    }

    }
  }
}