extends /base.pug

block main
  h1.VisuallyHidden=`${site.title} ホーム`

  .Stack.-xlarge
    section#tags.Stack.-large(aria-labelledby="tags-heading")
      h2#tags-heading.Heading タグ

      each tag in tags
        article.Stack.-small(id=`tags:${tag.slug}`)
          h3.ItemTitle
            a.WithIcon.-tag.-hang(href=`/tags/${tag.slug}/`)=tag.title
          if tag.content
            p=tag.content

      p
        a.WithIcon.-reference(href="/references/") すべての参考資料

    section#contribution.Stack(aria-labelledby="contribution-heading")
      h2#contribution-heading.Heading ウェブサイトに貢献

      p このウェブサイトではあなたからの情報提供をお待ちしています。参考資料の追加・修正のリクエストは次のいずれかの方法で行えます。

      ul
        li
          a(href="https://github.com/a11yj/accrefs") GitHubからプルリクエストを送る
        li Googleフォームから送信する（準備中）
        li A11YJのSlackで発言する（準備中）
