//- https://github.com/11ty/eleventy/issues/286

extends /base.pug

block main
  .Stack.-large
    .Stack.-small
      h1.Heading
        span.WithIcon.-tag=tag.title
      p=tag.content

    if collections[tag.title]
      .Stack.-large
        each reference in collections[tag.title].slice().reverse()
          article.Stack.-small(id=reference.fileSlug)
            h2.ItemTitle
              a.WithIcon.-reference(href=reference.data.link)=reference.data.title
            !=reference.templateContent
    else
      p まだ参考資料が登録されていません。
